h1 {
font-size: 30px;
color: teal;
} 
h2 {
font-size: 20px;
color:  red;
}
.big.uppercase {
font-size: 40px;
color: greenyellow;
}
.uppercase {
font-variant: small-caps;
}
.big {
color: aquamarine;
}
span {
color: violet;
}
h1 span {
color: beige;
}
body {
    background-color: goldenrod;
}