h1 {
font-size: 30px;
color: teal;
} 
h2 {
font-size: 20px;
color:  rgb(53, 53, 53);
}
.big.uppercase {
font-size: 40px;
color: rgb(13, 66, 31);
}
.uppercase {
font-variant: small-caps;
}
.big {
color: rgb(23, 31, 59);
}
span {
color: rgb(3, 77, 64);
}
h1 span {
color: beige;
}
body {
    background-color: rgb(155, 155, 155);
}