h1 {
font-size: 30px;
color: teal;
} 
h2 {
font-size: 20px;
color:  red;
}
.big.uppercase {
font-size: 40px;
color: rgb(39, 55, 127);
}
.uppercase {
font-variant: small-caps;
}
.big {
color: aquamarine;
}
span {
color: rgb(21, 0, 99);
}
h1 span {
color: beige;
}
body {
    background-color: rgb(79, 79, 79);
}